name: Bundle NPM CI

on: [workflow_dispatch, workflow_call, push, pull_request]

jobs:
    call-workflow:
        uses: Forsakringskassan/.github/.github/workflows/bundle-npm-ci.yaml@main
    cypress-e2e:
        name: Cypress E2E Tests
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Use Node.js 22.x
              uses: actions/setup-node@v6
              with:
                  node-version: 22.x
            - name: Install dependencies
              run: npm ci
            - name: Build
              run: npm run build
            - name: Cypress E2E tests
              uses: cypress-io/github-action@v6
              with:
                  summary-title: "E2E tests"
                  start: npm start
                  build: npx cypress info
                  browser: chrome
                  wait-on: "http://127.0.0.1:8080"
                  quiet: true
            - uses: actions/upload-artifact@v5
              if: always()
              with:
                  name: cypress-e2e-screenshots
                  path: cypress/screenshots
                  if-no-files-found: ignore
